In [112]:
%pylab inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['test']
`%matplotlib` prevents importing * from pylab and numpy

In [113]:
def correlation(x, y):
    std_x = (x - x.mean()) / x.std(ddof=0)
    std_y = (y - y.mean()) / y.std(ddof=0)
    return (std_x * std_y).mean()

In [114]:
train_path = "train.csv"
train = pd.read_csv(train_path)

test_path = "test.csv"
test = pd.read_csv(test_path)

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
train['IsCabin'] = float('NaN')
train['Cabin'] = train['Cabin'].fillna('N/A')

train['IsCabin'][train['Cabin'] == 'N/A'] = 0
train['IsCabin'][train['Cabin'] != 'N/A'] = 1

In [100]:
train['Embarked'] = train['Embarked'].fillna('S')
train['Embarked'][train['Embarked'] == 'S'] = 0
train['Embarked'][train['Embarked'] == 'C'] = 1
train['Embarked'][train['Embarked'] == 'Q'] = 2

train['Sex'][train['Sex'] == 'male'] = 0
train['Sex'][train['Sex'] == 'female'] = 1

train['Period'] = float('NaN')
train.Period[train['Age'] < 18] = 0
train.Period[train['Age'] >= 18] = 1
train.Period[train['Age'] > 60] = 2
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Period
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,1,0,1.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,1,1,1.0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,1,0,1.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,1,0,1.0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,1,0,1.0

In [63]:
print(correlation(train['Survived'], train['Pclass']))
print(correlation(train['Survived'], train['Period']))
print(correlation(train['Survived'], train['Embarked']))
print(correlation(train['Survived'], train['Parch']))
print(correlation(train['Survived'], train['SibSp']))
print(correlation(train['Survived'], train['Age']))
print(correlation(train['Survived'], train['Sex']))

-0.33848103596101325
-0.13189167886786343
0.106811385709
0.08162940708348272
-0.03532249888573573
-0.077982678413863
0.543351380658

In [116]:
print (train['SibSp'].value_counts())
print (train['Survived'][train['SibSp'] == 0].value_counts(normalize = True) * 100)
print (train['Survived'][train['SibSp'] >= 1].value_counts(normalize = True) * 100)

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64
0    65.460526
1    34.539474
Name: Survived, dtype: float64
0    53.35689
1    46.64311
Name: Survived, dtype: float64